---
- name: Create vimrc configuration for root
  become: true
  ansible.builtin.template:
    src: 'templates/vimrc.j2'
    dest: '/root/.vimrc'
    owner: 'root'
    group: 'root'
    mode: 'u=rw,g=r,o=r'

- name: Create vimrc configuration per defined user
  become: true
  ansible.builtin.template:
    src: 'templates/vimrc.j2'
    dest: "/home/{{ user.name }}/.vimrc"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: '0640'
  loop: "{{ users__voc_users }}"
  loop_control:
    label: "user={{ user.name }}"
    loop_var: user
  when: user.state | default ('present') == 'present'

- name: Create vimrc configuration for voc
  become: true
  ansible.builtin.template:
    src: 'templates/vimrc.j2'
    dest: '/home/voc/.vimrc'
    owner: 'voc'
    group: 'voc'
    mode: 'u=rw,g=r,o=r'
