---
- name: Create Groups for voc
  become: true
  ansible.builtin.group:
    name: "{{ item.group }}"
    state: 'present'
  loop: "{{ users__voc_system_users }}"

- name: Create Users for voc
  become: true
  ansible.builtin.user:
    name: "{{ item.user }}"
    group: "{{ item.group }}"
    comment: "{{ item.user }}"
    create_home: true
    system: "{{ item.system | default(false) }}"
    shell: '/bin/bash'
    password: "{{ item.pwd | default('!') }}"
    state: present
  loop: "{{ users__voc_system_users }}"

- name: Set Admin SSH Keys
  become: true
  ansible.posix.authorized_key:
    user: "{{ item.user }}"
    state: present
    key: "{{ _users__voc_combined_pubkeys | default('ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPvvXN33GwkTF4ZOwPgF21Un4R2z9hWUuQt1qIfzQyhC') }}"
    exclusive: true
  loop: "{{ users__voc_system_users }}"

- name: Allow root access for group admin
  become: true
  community.general.sudoers:
    name: 'admin-permissions'
    group: 'admin'
    commands: 'ALL'
    state: 'present'
    nopassword: true
    validation: 'required'
