---
- name: Create additional Groups for voc
  become: true
  ansible.builtin.group:
    name: "{{ item }}"
    state: 'present'
  loop: "{{ users__voc_system_groups }}"

- name: Add voc to additional groups
  become: true
  ansible.builtin.user:
    name: 'voc'
    groups: "{{ item }}"
    append: true
  loop: "{{ users__voc_system_groups }}"

- name: Allow root access for user voc
  become: true
  community.general.sudoers:
    name: 'voc-user-permissions'
    user: 'voc'
    commands: 'ALL'
    state: 'present'
    nopassword: true
    validation: 'required'
