---
- name: Create media files directory
  become: true
  ansible.builtin.file:
    state: 'directory'
    mode: '0755'
    owner: 'voc'
    group: 'voc'
    path: "{{ item }}"
  loop:
    - '/home/voc/obs'
    - '/home/voc/obs/placeholder'

- name: Downlaod media files
  become: true
  become_user: 'voc'
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "/home/voc/obs/{{ item.dest }}"
    mode: '0644'
  loop: "{{ obs__media_files }}"

- name: Transfer media files
  become: true
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "/home/voc/obs/placeholder/{{ item.dest }}"
    owner: 'voc'
    group: 'voc'
    mode: '0644'
  loop: "{{ obs_local__media_files }}"
