---
- name: Update apt cache
  become: true
  ansible.builtin.apt:
    cache_valid_time: 3600
    update_cache: true
  when:
    - ansible_facts['pkg_mgr'] == "apt"

- name: Install requirements for syncthing
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: 'present'
  loop: "{{ syncthing__packages }}"
